.nav__logo{
  margin: 20px 70px 8px 70px;
  width: 50%;
  height: 50%;
}

.nav__input{
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.05);
  width: 85%;
  height: 35px;
  margin: 8px 20px 8px 20px;
}

.nav__button{
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  background-color: rgb(6, 133, 236);
  width: 70%;
  height: 35px;
  color: white;
  font-size: 1rem;
  margin-left: 20px;
}